@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1 {
  margin: 0;
}

html,
body {
  background-color: #e8e8e8;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}